

<div class="card" class="center bg-light" style="margin-top: 5%;">
<div class="center">
<img src="../assets/img/petx_logo.png" width="110" height="60" class="d-inline-block align-top" alt="" loading="lazy">
</div> 
<div class="card-body">
    <form >
      <div class="form-group">
 
        <input type="email" placeholder="Usuário ou email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <input type="password"  placeholder="Senha" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Lembrar-me</label>
      </div>
      <button type="submit" class="btn btn-success btn-lg btn-block">Acessar</button>
      
    </form>

      <br>
      <a href="/recuperar-acesso" style="text-align: center;">Recuperar acesso</a>

      <br>
    <div class="row">
      <button type="submit" class="btn btn-primary center">Registrar-me</button>
    </div>
  </div>
</div>


