<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand logo-left" href="#" >
      <img src="../assets/img/petx_logo.png" width="90" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav" style="margin-left: 75%;">
        <li class="nav-item">
          <a class="nav-link" href="/publish">Anunciar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home-user">Meus Anúncios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home">Sair</a>
        </li>    
      </ul>
    </div>  
  </nav>

 

  <div class="card" style="    max-width: 50%;margin-left: 25%;margin-top: 5%;">
    <div class="card-header"> 
       Novo Anúncio
    </div>
   <div class="card-body">
 
 <form #publishForm = "ngForm" (ngSubmit) = "publish(publishForm.value)">
 
     <div class="form-group">
         <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" ngModel>
       </div>
 
       <div class="form-group">
         <textarea   class="form-control" id="descricao" name="descricao" placeholder="Descrição" ngModel></textarea>
       </div>
 
 
     <div class="form-group">
       <input type="text" class="form-control" id="telefone" name="telefone"  placeholder="Telefone" ngModel>
     </div>


     <div class="row">
        <div class="col">
     <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" ngModel value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Cachorro
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" ngModel value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Gato
        </label>
      </div>
        </div>

        <div class="col">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"  ngModel value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Pequeno
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" ngModel value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Médio
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" ngModel value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Grande
        </label>
      </div>
    </div>
    </div>

 <br>
     <div class="form-group">
       <input type="text" class="form-control" id="cep" name="cep" ngModel placeholder="Cep">
     </div>
 
     <div class="form-group">
       <input type="text" class="form-control" id="logradouro" name="logradouro" ngModel placeholder="Logradouro">
     </div>
 
     <div class="form-group">
       <input type="text" class="form-control" id="numero" name="numero" ngModel placeholder="Número">
     </div>
 
     <div class="form-group">
       <input type="text" class="form-control" id="complemento" name="complemento" ngModel placeholder="Complemento">
     </div>
 
     <div class="form-group">
       <input type="text" class="form-control" id="bairro" name="bairro" ngModel placeholder="Bairro">
     </div>
 
     <div class="form-group">
       <input type="text" class="form-control" id="cidade" name="cidade" ngModel placeholder="Cidade">
     </div>
 
     <div class="form-group">
       <input type="text" class="form-control" id="uf" name="uf" ngModel placeholder="UF">
     </div>

     <div class="form-group">
        <label for="exampleFormControlFile1">Escolha até 5 fotos.</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1"  (change)="selectFiles($event)"  name="fotos"  multiple>
      </div>
  
     <button type="submit" class="btn btn-primary btn-block" >Anunciar</button>
 
   </form>
   </div>
 </div>
