<!-- <nav class="navbar navbar-light bg-white horizontal-line">
    <a class="navbar-brand logo-left" href="#" >
      <img src="../assets/img/petx_logo.png" width="90" height="50" alt="">
    </a>
  
  </nav>-->

  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand logo-left" href="#" >
      <img src="../assets/img/petx_logo.png" width="90" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav" style="margin-left: 75%;">
        <li class="nav-item">
          <a class="nav-link" href="/publish">Publicar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home-user">Meus Anúncios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home">Sair</a>
        </li>    
      </ul>
    </div>  
  </nav>

<br>
<br>
<br>

<div class="container">
  <div class="card">
    <div class="card-header">
        Meus anúncios
    </div>
  </div>
  
  <div class="card-deck "> 
  
    <div class="card">
      <img class="card-img-top" src="../../assets/img/dog1.jpg" width="380" height="200" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Título do card</h5>
        <p class="card-text">
          Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.
       
        </p>
        <button  class="btn btn-primary">Editar</button>
        <button  class="btn btn-danger btn-right" (click)="showtoast()">Excluir</button>
      </div>
  
      <div class="card-footer">
        <small class="text-muted">Atualizados 3 minutos atrás</small>
      </div>
    </div>
  
    <div class="card">
      <img class="card-img-top" src="../../assets/img/dog2.jpg" width="380" height="200" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Título do card</h5>
        <p class="card-text">
          Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.
       
        </p>
        <button  class="btn btn-primary">Editar</button>
        <button  class="btn btn-danger btn-right">Excluir</button>
      </div>
  
      <div class="card-footer">
        <small class="text-muted">Atualizados 3 minutos atrás</small>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="../../assets/img/dog3.jpg" width="380" height="200" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Título do card</h5>
        <p class="card-text">
          Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.
       
        </p>
        <button  class="btn btn-primary">Editar</button>
        <button  class="btn btn-danger btn-right">Excluir</button>
      </div>
  
      <div class="card-footer">
        <small class="text-muted">Atualizados 3 minutos atrás</small>
      </div>
    </div>

  </div>
  </div>
  
  <br>
  
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>